@page "/possitionpage"

@using Microsoft.AspNetCore.Identity;
@using BlzMON.Data
@using BlzMON.Models
@using Radzen.Blazor;
@using System.Threading.Tasks; 
@inject UserManager<ApplicationUser> _userManager;

@inject ApplicationDbContext db


<h3>Должности</h3>
<button class="btn btn-success" @onclick="AddNew">Добавить новый</button>
<RadzenGrid AllowFiltering="true" FilterCaseSensitivity="Radzen.FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="4"
            AllowSorting="true" Data="@сonclusions" TItem="Possitions" ColumnWidth="150px">
    <Columns>
        <RadzenGridColumn TItem="Possitions" Property="PossName" Title="Должность"></RadzenGridColumn>

        @*<RadzenGridColumn TItem="IdentityRole" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">*@
        <RadzenGridColumn TItem="Possitions" TextAlign="Radzen.TextAlign.Center" Width="60px">
            <Template Context="сonclusion">
                <RadzenButton Icon="edit" Click="@(args => Edit(сonclusion))" />
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="Possitions" TextAlign="Radzen.TextAlign.Center" Width="60px">
            <Template Context="сonclusion">
                <RadzenButton Icon="delete" Click="@(args => Delete(сonclusion))" />
            </Template>
        </RadzenGridColumn>
    
    </Columns>
</RadzenGrid>


@if (ShowPopup)
{
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">@title</h3>
                    <button type="button" class="close"
                            @onclick="ClosePopup">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span style="color:red">@strError</span>
                    <table class="table">
                      
                        <tr>
                            <td>Должность</td>
                            <td><input type="text" class="form-control" @bind="@сonclusion.PossName" /></td>
                        </tr>
                    
                        <tr>
                            <td>
                                <button class="btn btn-primary" @onclick="Save">
                                    Сохранить
                                </button>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
}


@code {

    private List<Possitions> сonclusions = new List<Possitions>();

    private Possitions сonclusion = new Possitions();

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    System.Security.Claims.ClaimsPrincipal CurrentUser;

    ApplicationUser objUser;
    string strError = "";
    string title = "";
    bool ShowPopup = false;


    void AddNew()
    {
        сonclusion = new Possitions();
        сonclusion.Id = 0;
        title = "Новоя запись";
        ShowPopup = true;
    }
    async Task Save()
    {
        try
        {
            if (сonclusion.Id != 0)
            {
                Possitions lt = await db.Possition.FindAsync(сonclusion.Id);
                lt.Id = сonclusion.Id;
                lt.PossName = сonclusion.PossName;
                await db.SaveChangesAsync();
            }
            else
            {
                db.Possition.Add(сonclusion);
                await db.SaveChangesAsync();
            }

            ShowPopup = false;
            LoadData();
        }
        catch (Exception ex)
        {
            strError = ex.GetBaseException().Message;
        }
    }
    async Task Edit(Possitions lt)
    {
        title = "Редактирование";
        сonclusion = lt;
        ShowPopup = true;
    }
    async Task Delete(Possitions lt)
    {
        ShowPopup = false;
        var obj = await db.Possition.FindAsync(lt.Id);
        if (obj != null)
        {
            db.Possition.Remove(obj);
            await db.SaveChangesAsync();
        }
        LoadData();
    }
    void ClosePopup()
    {
        ShowPopup = false;
    }

    protected override async Task OnInitializedAsync()
    {
        // CurrentUser = (await authenticationStateTask).User;
        // objUser = await _userManager.FindByNameAsync(CurrentUser.Identity.Name);
        LoadData();
    }

    public void LoadData()
    {
        сonclusion = new Possitions();
        сonclusions = db.Possition.OrderBy(x => x.PossName).ToList();

    }


}
