@page "/positionpage"

@using Microsoft.AspNetCore.Identity;
@using HospitalsBlz.Data
@using HospitalsBlz.Models
@inject UserManager<ApplicationUser> _userManager;


@inject ApplicationDbContext db

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><h4>Список должностей </h4></div>
    <div class="col-md-4"></div>
</div>
<button class="btn btn-success" @onclick="AddNewUser">Добавить новый</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Наимерование</th>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in positions)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <!-- Edit the current forecast -->
                    <button class="btn btn-primary"
                            @onclick="(() => EditUser(item))">
                        Редактировать
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ShowPopup)
{
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Редактирование</h3>
                    <button type="button" class="close"
                            @onclick="ClosePopup">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span style="color:red">@strError</span>
                    <table class="table">
                            <tr>
                            <td>Наименование</td>
                            <td><input type="text" class="form-control" @bind="@position.Name" /></td>
                        </tr>
                        <tr>
                            <td>
                                @if (position.Id != 0)
                                {
                                    <!-- Button to delete the forecast -->
                                    <button class="btn btn-danger" @onclick="DeleteUser">
                                        Удалить
                                    </button>
                                }
                            </td>
                            <td>
                                <button class="btn btn-primary" @onclick="SaveUser">
                                    Сохранить
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
}



@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    System.Security.Claims.ClaimsPrincipal CurrentUser;

    ApplicationUser objUser;
    string strError = "";
    bool ShowPopup = false;

    private List<Positions> positions = new List<Positions>();
    private Positions position = new Positions();


    void AddNewUser()
    {
        position = new Positions();
        position.Id = 0;
        ShowPopup = true;
    }
    async Task SaveUser()
    {
        try
        {
            // Is this an existing user?
            if (position.Id != 0)
            {
                // Get the user
                Positions pos = await db.Positions.FindAsync(position.Id);
                pos.Name = position.Name;
                await db.SaveChangesAsync();
            }
            else
            {
                db.Positions.Add(position);
                await db.SaveChangesAsync();
            }

            // Close the Popup
            ShowPopup = false;
            // Refresh Users
            LoadData();
            position = new Positions();
        }
        catch (Exception ex)
        {
            strError = ex.GetBaseException().Message;
        }
    }
    async Task EditUser(Positions rc)
    {
        position = rc;
        //products = db.Products.Where(x => x.CategoryId == ).ToList();
        ShowPopup = true;
    }
    async Task DeleteUser()
    {
        // Close the Popup
        ShowPopup = false;
        // Get the user
        var rc = await db.Positions.FindAsync(position.Id);
        if (rc != null)
        {
            db.Positions.Remove(rc);
            await db.SaveChangesAsync();
        }
        LoadData();
    }
    void ClosePopup()
    {
        // Close the Popup
        ShowPopup = false;
    }
 

    protected override async Task OnInitializedAsync()
    { 
        LoadData();
    }

    public void LoadData()
    {
        positions = db.Positions.ToList();        
    }
}
