<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Ведомственные награды</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Главная
            </NavLink>
        </li>


        <AuthorizeView Roles="Admin, Normal">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="InitializerPage">
                    <span class="oi oi-person" aria-hidden="true"></span> Инициаторы
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="SecondDepPage">
                    <span class="oi oi-flag" aria-hidden="true"></span> Департаменты
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="DepartamentPage">
                    <span class="oi oi-briefcase" aria-hidden="true"></span> Учреждения
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="userlist">
                    <span class="oi oi-people" aria-hidden="true"></span> Пользователи
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="OrdersPage">
                    <span class="oi oi-book" aria-hidden="true"></span> Приказы
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Справочники
                </NavLink>
            </li>

            <li class="nav-item px-5">
                <NavLink Href="possitionpage">
                    <MatIcon>supervised_user_circle</MatIcon>  Должности
                </NavLink>
            </li>
            <li class="nav-item px-5">
                <MatNavItem Href="educationpage">
                    <MatIcon>account_balance</MatIcon>  Образование
                </MatNavItem>
            </li>
            <li class="nav-item px-5">
                <MatNavItem Href="documentspage">
                    <MatIcon>description</MatIcon>  Документы
                </MatNavItem>
            </li>
            <li class="nav-item px-5">
                <MatNavItem Href="areasspage">
                    <MatIcon>location_on</MatIcon>  Области
                </MatNavItem>
            </li>
            <li class="nav-item px-5">
                <MatNavItem Href="regionpage">
                    <MatIcon>filter_hdr</MatIcon>  Районы
                </MatNavItem>
            </li>
            <li class="nav-item px-5">
                <MatNavItem Href="comissionpage">
                    <MatIcon>people_outline</MatIcon>  Комиссии
                </MatNavItem>
            </li>
            <li class="nav-item px-5">
                <MatNavItem Href="awardspage">
                    <MatIcon>watch</MatIcon>  Награды
                </MatNavItem>
            </li>

        </AuthorizeView>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="InitializerPage">
                <span class="oi oi-person" aria-hidden="true"></span> Инициаторы
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="OrderPage">
                <span class="oi oi-book" aria-hidden="true"></span> Приказы
            </NavLink>
        </li> *@
    <AuthorizeView Roles="Manager">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="InitializerPage">
                <span class="oi oi-person" aria-hidden="true"></span> Инициаторы
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="SecondDepPage">
                <span class="oi oi-flag" aria-hidden="true"></span> Департаменты
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="DepartamentPage">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Учреждения
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="userlist">
                <span class="oi oi-people" aria-hidden="true"></span> Пользователи
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="OrderPage">
                <span class="oi oi-book" aria-hidden="true"></span> Приказы
            </NavLink>
        </li>
    </AuthorizeView>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}